@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    @include clear;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}

h1, h2, h3, h4, h5, h6, p {
    @include clear;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    max-width: $viewport;
    overflow: hidden;
    
}
.bg-first-section {
    background: url(../img/header_bg.jpg) no-repeat;
    background-size: cover;
    background-color: rgb(116, 116, 116);
  
}
    .first-screen {
        display: flex;
        flex-direction: column;
        // flex-grow: 1;
        height: 100vh;
        
    }
.bg-authorization-section {
    background-color: #000;   
}

.bg-buy-section {
    background-color: rgba(255, 255, 255, 0);
}

